{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar pagamento - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Pagamento</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.name.id_for_label }}">Funcionário</label>
                   {{ form.name|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.description.id_for_label }}">Cargo</label>
                    {{ form.description|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.date_fabrication.id_for_label }}">Salário</label>
                    {{ form.date_fabrication|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.is_active.id_for_label }}">Departamento</label>
                    {{ form.is_active|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.category.id_for_label }}">Data do pagamento</label>
                    {{ form.category|add_class:"form-control" }}
                </div>
                <!-- <div class="form-group">
                    <label for="{{ form.photo.id_for_label }}">Foto</label>
                    {{ form.photo|add_class:"form-control-file" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.doc.id_for_label }}">Documentos</label>
                    {{ form.doc|add_class:"form-control-file" }}
                </div> -->
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}