{% extends 'base.html' %}

{% block title %}

    Lista de Pagamentos - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Historico de Pagamentos</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'pagamentos:add_pagamento' %}">Fazer um pagamento</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Funcionário</th>
                    <th scope="col">Cargo</th>
                    <th scope="col">Salário</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Data do pagamento</th>
                    <!-- <th scope="col">Categoria</th> -->
                    <!-- <th scope="col">Foto</th> -->
                    <!-- <th scope="col">Documento</th> -->
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for pagamento in pagamentos %}
                        <tr>
                            <th scope="row">{{ pagamento.id }}</th>
                            <td>{{ pagamento.name }}</td>
                            <td>{{ pagamento.description }}</td>
                            <td>{{ pagamento.date_fabrication }}</td>
                            <td>
                                {% if pagamento.is_active == True %}
                                    Ativo
                                {% endif %}
                                {% if pagamento.is_active == False %}
                                    Inativo
                                {% endif %}
                            </td>
                            <td>{{ pagamento.category }}</td>
                            <td>
                                <img src="{{ pagamento.photo.url }}" width="50" height="50">
                            </td>
                            <td>
                                <a href="{{ pagamento.doc.url }}" >{{ pagamento.doc.url }}</a>
                            </td>
                            <td>
                                <a href="{% url 'pagamento:edit_pagamento' pagamento.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>    
                                <a href="{% url 'pagamento:delete_pagamento' paganto.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}